<section class="hg_section pt-80 pb-80">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<!-- Title element -->
					<div class="kl-title-block text-center tbk-symbol-- tbk-icon-pos--after-title">
						<!-- Title with bold style -->
						<h3 class="fw-bold" style="text-align:center; color:rgba(255,0,0,0.65);margin-top:100px;font-weight:400;font-family: 'Itim', cursive;
						font-family: 'Arima Madurai', cursive; font-size:48px;">
							Đối tượng sử dụng
						</h3>
						<!--/ Title with bold style -->
					</div>
					<!--/ Title element -->

					<!-- Historic timeline element -->
					<div class="timeline_bar" style=" font-family: 'Comfortaa', cursive;">
						<div class="row">

							<!-- Timeline box 1 -->
							<div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
								<!-- Timeline box -->
								<div class="timeline_box">
									<!-- Date -->
									<div class="date">
										<h1>1</h1>
									</div>
									<!--/ Date -->

									<!-- Title -->

									<!--/ Title -->

									<!-- Content -->
									<p>
										Nam giới cơ thể suy giảm thể lực, sức khỏe kém, sinh lý yếu và các triệu chứng của mãn dục nam.
									</p>
									<!--/ Content -->
								</div>
								<!--/ Timeline box -->
							</div>
							<!--/ Timeline box 1 -->

							<!-- Timeline box 2 -->
							<div class="col-sm-12 col-md-6">
								<!-- Timeline box -->
								<div class="timeline_box">
									<!-- Date -->
									<div class="date">
										<h1>2</h1>
									</div>
									<!-- Content -->
									<p>
										Người uống nhiều bia, rượu, thuốc lá dễ suy giảm chức năng gan, thận, tim mạch, hô hấp,...
									</p>
									<!-- Content -->
								</div>
								<!--/ Timeline box -->
							</div>
							<!--/ Timeline box 2 -->

							<!-- Timeline box 3 -->
							<div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
								<!-- Timeline box -->
								<div class="timeline_box">
									<!-- Date -->
									<div class="date">
										<h1>3</h1>
									</div>
									<!--/ Date -->
									<!-- Content -->
									<p>
										Người cao tuổi muốn hỗ trợ điều trị và phục hồi cơ thể do biến chứng của các căn bệnh mãn tính như : Ung thư, tiểu đường,
										guot, huyết áp, tim mạch...
									</p>
									<!--/ Content -->
								</div>
								<!--/ Timeline box -->
							</div>
							<!--/ Timeline box 3 -->

							<!-- Timeline box 4 -->
							<div class="col-sm-12 col-md-6">
								<!-- Timeline box -->
								<div class="timeline_box">
									<!-- Date -->
									<div class="date">
										<h1>4</h1>
									</div>
									<!--/ Date -->
									<!--/ Title -->

									<!-- Content -->
									<p>
										Nam giới cơ thể suy giảm thể lực, sức khỏe kém, sinh lý yếu và các triệu chứng của mãn dục nam.
									</p>
									<!--/ Content -->
								</div>
								<!--/ Timeline box -->
							</div>
							<!--/ Timeline box 4 -->

						</div>
						<!--/ row -->
					</div>
					<!--/ Historic timeline element -->
					<div class="kl-title-block text-center tbk-symbol-- tbk-icon-pos--after-title" style="padding-top:40px;">
						<!-- Title with bold style -->
						<h3 class="fw-bold" style="text-align:center; color:rgba(255,0,0,0.65);margin-top:100px;font-weight:400;font-family: 'Itim', cursive;
						font-family: 'Arima Madurai', cursive; font-size:48px;">
							Liều Dùng
						</h3>
						<!--/ Title with bold style -->

						<!-- Sub-title with thin style -->
						<h4 class="tbk__subtitle tbk-thinsubtitle">
							Giai đoạn tấn công : dùng 4 viên/ngày chia 2 lần sáng, tối trước khi ăn 30 phút kéo dài từ 1 đến 2 tháng
							<br> Giai đoạn duy trì : 2 viên/ ngày chia 2 lần sáng,tối trước khi ăn 30 phút
						</h4>
						<!--/ Subtitle with thin style -->
					</div>
				</div>
				<!--/ col-sm-12 col-md-12 -->
			</div>
			<!--/ row -->
		</div>
		<!--/ container -->
	</section>