<div class="static-content__inner container page" id="congdung">
        <div class="kl-slideshow-safepadding sc__container">
            <!-- Product zoom style -->
            <h3 class="tbk__title kl-font-alt fs-xxxl fw-bold " style="text-align:center;">
                <span class="fw-thin" style="text-align:center; color:rgba(255,0,0,0.65);margin-top:100px;font-weight:400;font-family: 'Itim', cursive;
                font-family: 'Arima Madurai', cursive; font-size:35px;">
                    Công Dụng Của
                    <strong> Nhau Thai Hươu

                </span>
            </h3>
            <div class="static-content productzoom-style">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5 mb-30">
                        <!-- Sub-title -->


                        <!-- Features list -->
                        <ul class="sc__features" style=" font-family: 'Comfortaa', cursive;">
                            <li>
                                <span class="fas fa-check white-icon"></span> Hồi phục chức năng của tất cả các cơ quan trong cơ thể, làm mới cơ thể từ bên trong.
                            </li>

                            <li>
                                <span class="fas fa-check white-icon"></span> Nuôi trắng da từ bên trong cơ thể, hỗ trợ điều trị nám và tàn nhang, ngăn ngừa lão hóa trên da, cân bằng
                                nội tiết cơ thể .
                            </li>

                            <li>
                                <span class="fas fa-check white-icon"></span> Hỗ trợ điều trị tiểu đường và biến chứng tiểu đường vượt trội .
                            </li>

                            <li>
                                <span class="fas fa-check white-icon"></span>
                                Cung cấp các chất dinh dưỡng thiết yếu và các thành phần chống oxy hóa mạnh, kháng viêm, giúp Phòng ngừa và hỗ trợ điều trị
                                các bệnh mãn tính
                            </li>

                            <li>
                                <span class="fas fa-check white-icon"></span> Thúc đẩy quá trình trao đổi chất, tăng cường hệ miễn dịch, đồng thời cung cấp năng lượng cho cơ thế chống
                                mệt mỏi, stress
                            </li>
                            <li>
                                <span class="fas fa-check white-icon"></span> Hỗ trợ điều trị cho bệnh nhân thoái hóa khớp, duy trì dịch ổ khớp và sụn khớp
                            </li>
                            <li>
                                <span class="fas fa-check white-icon"></span> Hạ lipid máu, hạ cholesterol, tăng cường lưu thông máu máu giúp bảo vệ hệ tuần hoàn
                            </li>
                            <li>
                                <span class="fas fa-check white-icon"></span> Hỗ trợ điều trị men gan cao, người xơ gan.
                            </li>
                        </ul>
                        <!--/ Features list -->



                    </div>
                    <!--/ col-sm-12 col-md-12 col-lg-5 mb-30 -->

                    <div class="col-sm-12 col-md-12 col-lg-7">
                        <!-- Screenshot with loupe element -->
                        <div id="screenshot" class="sc__screenshot">
                            <!-- Image container -->
                            <div class="image">
                                <!-- Product loupe pop-up & image -->
                                <a class="kjq-loupe" data-lightbox="image" href="images/congdung.jpg">
                                    <!-- Image -->
                                    <img src="images/congdung.jpg" class="img-fluid" alt="Product" title="Product">
                                </a>
                                <!-- Product loupe pop-up & image -->

                                <!-- Loupe -->
                                <div class="sc__loupe"></div>
                            </div>
                            <!--/ Image container -->
                        </div>
                        <!--/ Screenshot with loupe element -->
                    </div>
                    <!--/ col-sm-12 col-md-12 col-lg-7 -->
                </div>
                <!--/ row -->
            </div>
            <!--/ .productzoom-style -->
        </div>
        <!-- /.sc__container -->
    </div>
    <!--/ Static content container -->
</div>
<!--/ Static content wrapper with default height (not fullscreen) -->
</div>