<section class="hg_section bg-white" id="dacdiem">
        <div class="container">
            <h1 style="text-align:center; color:rgba(255,0,0,0.65);margin-top:100px;font-weight:400;font-family: 'Itim', cursive;
    font-family: 'Arima Madurai', cursive; font-size:30px;"> Đặc điểm vượt trội của 𝔭𝔲𝔱𝔦𝔢𝔯 5𝔱𝔥</h1>
            <hr style=" width:400px; margin:auto; border:1px solid rgba(255,0,0,0.65); text-align:center">
            <!-- đặc điểm vượt trội -->
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <!--/ Image Box style 4 - left symbol style -->
                    <div class="box image-boxes imgboxes_style4 kl-title_style_left">
                        <!-- Image Box anchor link -->
                        <a class="imgboxes4_link imgboxes-wrapper" href="" target="_blank">
                            <!-- Image -->
                            <img src="images/imageboxes-set1-011-460x307.jpg" class="img-fluid imgbox_image cover-fit-img" alt="RESCUE SUPPORT" title="RESCUE SUPPORT"
                            />
                            <!--/ Image -->

                            <span class="imgboxes-border-helper"></span>
                            <h4 style="color:rgba(255,0,0,0.65); text-align:center; margin-top:20px; font-size:18px;">
                                Liệu Pháp Tế Bào Gốc
                            </h4>
                        </a>
                        <!--/ Image Box anchor link -->

                        <!-- Description -->

                        <hr style="padding-top:30px;">
                        <p style="font-family: 'Comfortaa', cursive; font-size:1rem;">Giúp trẻ hóa toàn bộ cơ thể từ bên trong, lấy lại
                            sức khỏe, vẻ đẹp trẻ trung đầy năng lượng và sự quyến rũ của tuổi thanh xuân</p>
                        <!--/ Description -->
                    </div>
                    <!--/ Image Box style 4 - left symbol style -->
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <!--/ Image Box style 4 - left symbol style -->
                    <div class="box image-boxes imgboxes_style4 kl-title_style_left">
                        <!-- Image Box anchor link -->
                        <a class="imgboxes4_link imgboxes-wrapper" href="#" target="_blank">
                            <!-- Image -->
                            <img src="images/imageboxes-set1-011-460x307.jpg" class="img-fluid imgbox_image cover-fit-img" alt="RESCUE SUPPORT" title="RESCUE SUPPORT"
                            />
                            <!--/ Image -->

                            <span class="imgboxes-border-helper"></span>
                            <h4 style="color:rgba(255,0,0,0.65); text-align:center; margin-top:23px; font-size:18px;">
                                Hỗ Trợ Điều Trị các Bệnh Mạn Tính
                            </h4>
                        </a>
                        <!--/ Image Box anchor link -->

                        <!-- Description -->

                        <hr>
                        <p style="font-family: 'Comfortaa', cursive; font-size:1rem;">
                            Với thành phần chứa nhiều chất chống oxy hóa mạnh, loại bỏ các gốc tự do giúp hồi phục các cơ quan tế bào hư tổn. qua đó
                            giúp hỗ trợ điều trị các bệnh Ung thư, Tiểu đường, Tim mạch hiệu quả
                        </p>
                        <!--/ Description -->
                    </div>
                    <!--/ Image Box style 4 - left symbol style -->
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-4 -->

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <!-- Image Box style 4 - left symbol style -->
                    <div class="box image-boxes imgboxes_style4 kl-title_style_left">
                        <!-- Image Box anchor link -->
                        <a class="imgboxes4_link imgboxes-wrapper" href="#" target="_blank">
                            <!-- Image -->
                            <img src="images/imageboxes-set1-021-460x307.jpg" class="img-fluid imgbox_image cover-fit-img" alt="E-COMMERCE READY" title="E-COMMERCE READY"
                            />
                            <!--/ Image -->

                            <span class="imgboxes-border-helper"></span>

                            <!-- Title -->
                            <h4 style="color:rgba(255,0,0,0.65); text-align:center; margin-top:20px; font-size: 18px;">
                                Hiệu Quả Bền Vững
                            </h4>

                            <!--/ Title -->
                        </a>
                        <!-- Image Box anchor link -->

                        <!-- Description -->
                        <hr style="padding-top:30px;">
                        <p style="font-family: 'Comfortaa', cursive;  font-size:1rem;">
                            Sản phẩm giúp thay thế các tế bào lão hóa già yếu bằng các tế bào gốc nhau thai tươi mới, giúp phục hồi các cơ quan tế bào
                            hư tổn, làm trẻ hóa toàn bộ cơ thể từ bên trong.
                        </p>
                        <!-- Description -->
                    </div>
                    <!--/ Image Box style 4 - left symbol style -->
                </div>
                <!--/ col-sm-12 col-md-6 col-lg-4 -->

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <!-- Image Box style 4 - left symbol style -->
                    <div class="box image-boxes imgboxes_style4 kl-title_style_left">
                        <!-- Image Box anchor link -->
                        <a class="imgboxes4_link imgboxes-wrapper" href="#" target="_blank">
                            <!-- Image -->
                            <img src="images/imageboxes-set1-021-460x307.jpg" class="img-fluid imgbox_image cover-fit-img" alt="E-COMMERCE READY" title="E-COMMERCE READY"
                            />
                            <!--/ Image -->

                            <span class="imgboxes-border-helper"></span>

                            <!-- Title -->
                            <h4 style="color:rgba(255,0,0,0.65); text-align:center; margin-top:20px; font-size:18px;">
                                Hiệu Quả Bền Vững
                            </h4>

                            <!--/ Title -->
                        </a>
                        <!-- Image Box anchor link -->

                        <!-- Description -->
                        <hr style="padding-top:30px;">
                        <p style="font-family: 'Comfortaa', cursive;  font-size:1rem;">
                            Sản phẩm giúp thay thế các tế bào lão hóa già yếu bằng các tế bào gốc nhau thai tươi mới, giúp phục hồi các cơ quan tế bào
                            hư tổn, làm trẻ hóa toàn bộ cơ thể từ bên trong.
                        </p>
                        <!-- Description -->
                    </div>
                    <!--/ Image Box style 4 - left symbol style -->
                </div>
                <!--/ Image Box style 4 - bottom border style-->
            </div>
            <!--/ col-sm-12 col-md-6 col-lg-4 -->
        </div>
        <!--/ row -->
    </section>