<footer id="footer" data-footer-style="1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4 mb-30">
					<!-- Title -->
					<h3 class="title m_title" style="color:white; font-size:35px;text-shadow: 2px 2px 4px white; ">
						Purtier 5th
					</h3>

					<div class="sbs">
						<ul class="menu">
							<li>
								<a href="#dacdiem">Đặc điểm</a>
							</li>
							<li>
								<a href="#thanhphan">Thành Phần</a>
							</li>
							<li>
								<a href="#congnghe">Công nghệ</a>
							</li>
							<li>
								<a href="#congdung">Công Dụng</a>
							</li>
							<li>
								<a href="#nguoidung">Người Dùng</a>
							</li>

						</ul>
					</div>
				</div>
				<!--/ col-sm-12 col-md-5 mb-30 -->

				<div class="col-sm-12 col-md-4 mb-30">
					<div class="newsletter-signup">
						<!-- Title -->
						<h3 class="title m_title" style="font-size:20px;">
							Show Room
						</h3>

						<p>
							70 Lý Thường Kiệt
						</p>
						<h3 class="title m_title" style="font-size:20px;">
							Liên Hệ
						</h3>

						<!-- Contact details -->
						<div class="contact-details">
							<p>
								<strong> 0969.996.838 </strong>
								<br> Email:
								<a href="#">nhathuocduongtam@gmail.com</a>
							</p>
						</div>
					</div>
					<!-- end newsletter-signup -->
				</div>
				<!-- col-sm-12 col-md-4 mb-30 -->
				<div class="col-sm-12 col-md-3 mb-30">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.418282176254!2d106.65347691383583!3d10.77924106209159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec64b57fa93%3A0x9487f5d96df4b141!2zNzcgTMO9IFRoxrDhu51uZyBLaeG7h3QsIFTDom4gQsOsbmgsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1537525670706"
					 width="400" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>

				<!--/ col-sm-12 col-md-3 mb-30 -->
			</div>
			<!--/ row -->


			<!--/ row -->

			<div class="row">
				<div class="col-sm-12">
					<div class="bottom clearfix">
						<!-- social-icons -->
						<ul class="social-icons sc--clean clearfix">
							<li class="title">Kết nối với chúng tôi</li>
							<li>
								<a href="#" target="_self" class="fab fa-facebook-f" title="Facebook"></a>
							</li>
							<li>
								<a href="#" target="_self" class="fab fa-instagram" title="Instagram"></a>
							</li>
							<li>
								<a href="#" target="_self" class="fab fa-dribbble" title="Dribbble"></a>
							</li>
							<li>
								<a href="#" target="_self" class="fab fa-google-plus-g" title="Google Plus"></a>
							</li>
						</ul>
						<!--/ social-icons -->

						<!-- copyright -->
						<div class="copyright">


							<p>
								<strong style="color:white;"></strong>

								<a style="text-align:center; margin">© 2018 All rights reserved. Buy
									<strong style="color:#809fff;">......</strong>
								</a>.
							</p>
						</div>
						<!--/ copyright -->
					</div>
					<!--/ bottom -->
				</div>
				<!--/ col-sm-12 -->
			</div>
			<!--/ row -->
		</div>
		<!--/ container -->
	</footer>