<header id="header" class="site-header cta_button" data-header-style="1">
        <!-- Header background -->
        <div class="kl-header-bg"></div>
        <!--/ Header background -->

        <!-- Header wrapper -->
        <div class="site-header-wrapper">
            <!-- Header Top wrapper -->
            <div class="site-header-top-wrapper">
                <!-- Header Top container -->
                <div class="siteheader-container container">
                    <!-- Header Top -->
                    <div class="site-header-row site-header-top d-flex justify-content-between">
                        <!-- Header Top Left Side -->
                        <div class="site-header-top-left d-flex">
                            <!-- Header Top Social links -->
                            <ul class="topnav social-icons sc--clean align-self-center">
                                <li>
                                    <a href="<%=data.information.facebook%>" target="_blank" title="Facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="<%=data.information.instagram%>" target="_blank" title="instagram	">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="" target="_self" title="Google Plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li> -->
                            </ul>
                            <!--/ Header Top Social links -->

                            <div class="clearfix visible-xxs">
                            </div>

                            <!-- Top Header contact text -->

                            <!--/ Top Header contact text -->
                        </div>
                        <!--/ .site-header-top-left -->

                        <!-- Header Top Right Side -->
                        <div class="site-header-top-right d-flex">


                            <div class="topnav support--panel align-self-center">
                                <!-- Support panel trigger -->
                                <label for="support_p" class="topnav-item spanel-label">
                                    <i class="fas fa-info-circle support-info closed"></i>
                                    <i class="far fa-times-circle support-info opened"></i>
                                    <span class="topnav-item--text">SUPPORT</span>
                                </label>
                                <!--/ Support panel trigger -->
                            </div>




                        </div>
                        <!--/ .site-header-top-right -->
                    </div>
                    <!--/ .site-header-row .site-header-top -->

                    <!-- Header separator -->
                    <div class="separator site-header-separator"></div>
                    <!--/ Header separator -->
                </div>
                <!--/ .siteheader-container .container -->
            </div>
            <!--/ Header Top wrapper -->

            <!-- Header Main wrapper -->
            <div class="site-header-main-wrapper d-flex ">
                <!-- Header Main container -->
                <div class="siteheader-container container align-self-center">
                    <!-- Header Main -->
                    <div class="site-header-row site-header-main d-flex flex-row justify-content-between">
                        <!-- Header Main Left Side -->
                        <div class="site-header-main-left d-flex justify-content-start align-items-center">
                            <!-- Logo container-->
                            <div class="logo-container hasInfoCard logosize--yes">
                                <!-- Logo -->
                                <h1 class="site-logo logo" id="logo">
                                    <a href="index.html" title="" style="color:rgba(255,0,0,0.65);  
                                    text-shadow: 2px 2px 4px white;">
                                        Purtier
                                    </a>
                                </h1>
                                <!--/ Logo -->


                            </div>
                            <!--/ logo container-->

                            <!-- Separator -->
                            <div class="separator visible-xxs"></div>
                            <!--/ Separator -->
                        </div>
                        <!--/ .site-header-main-left -->

                        <!-- Header Main Center Side -->
                        <div class="site-header-main-center d-flex justify-content-center align-items-center">
                            <!-- Main Menu wrapper -->
                            <div class="main-menu-wrapper">
                                <!-- Responsive menu trigger -->
                                <div id="zn-res-menuwrapper">
                                    <a href="#" class="zn-res-trigger "></a>
                                </div>
                                <!--/ responsive menu trigger -->

                                <!-- Main menu -->

                                <div id="main-menu" class="main-nav zn_mega_wrapper navbar">
                                    <ul id="menu-main-menu" class="main-menu zn_mega_menu">
                                        <li class="menu-item-has-children menu-item-mega-parent ">
                                            <a href="#dacdiem">Đặc Điểm</a>

                                        </li>
                                        <li class="menu-item-has-children menu-item-mega-parent">
                                            <a href="#cacthanhphan">Thành Phần</a>

                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#congnghe">Công nghệ</a>

                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#congdung">Công dụng</a>

                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#nguoidung">Người dùng</a>

                                        </li>
                                    </ul>
                                </div>
                                <!--/ Main menu -->
                            </div>
                            <!--/ .main-menu-wrapper -->
                        </div>
                        <!--/ .site-header-main-center -->

                        <!-- Header Main Right Side -->
                        <div class="site-header-main-right d-flex justify-content-end align-items-center">
                            <!-- Call to action ribbon Free Quote (Contact form pop-up element) -->
                            <div class="quote-ribbon" id="lienhe">
                                <a href="#contact_panel" id="ctabutton" class="ctabutton kl-cta-ribbon" title="tư vấn Free 24/7" target="_self">
                                    <strong>Tư Vấn</strong>Miễn Phí
                                    <svg version="1.1" class="trisvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     preserveaspectratio="none" width="14px" height="5px" viewbox="0 0 14 5" enable-background="new 0 0 14 5" xml:space="preserve">
                                        <polygon fill-rule="nonzero" points="14 0 7 5 0 0"></polygon>
                                    </svg>
                                </a>
                            </div>
                            <!--/ Call to action ribbon Free Quote (Contact form pop-up element) -->
                        </div>
                        <!--/ .site-header-main-right -->
                    </div>
                    <!--/ .site-header-row .site-header-main -->
                </div>
                <!--/ .siteheader-container .container -->
            </div>
            <!--/ Header Main wrapper -->
        </div>
        <!--/ Header wrapper -->
    </header>