<!-- meta -->
<base href="/site/">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Uncomment the meta tags you are going to use! Be relevant and don't spam! -->

<meta name="keywords" content="premium html template, unique premium template, multipurpose template" />
<meta name="description" content="Kallyas is an ultra-premium, responsive theme built for todays websites. Create your website, fast.">

<!-- Title -->
<title>Purtier</title>


<!-- iDevices & Retina Favicons -->
<link rel="apple-touch-icon-precomposed" type="image/x-icon" href="images/favicons/apple-touch-icon-72x72-precomposed.png"
 sizes="72x72" />
<link rel="apple-touch-icon-precomposed" type="image/x-icon" href="images/favicons/apple-touch-icon-114x114-precomposed.png"
 sizes="114x114" />
<link rel="apple-touch-icon-precomposed" type="image/x-icon" href="images/favicons/apple-touch-icon-144x144-precomposed.png"
 sizes="144x144" />
<link rel="apple-touch-icon-precomposed" type="image/x-icon" href="images/favicons/apple-touch-icon-precomposed.png" />

<!--  Desktop Favicons  -->
<link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">

<!-- Google Fonts CSS Stylesheet // More here http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans -->
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Itim" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,600italic,700,800,800italic" rel="stylesheet"
 type="text/css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<!-- ***** Boostrap Custom / Addons Stylesheets ***** -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">

<!-- Font Awesome icons library -->
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css" media="all">

<!-- Required CSS file for iOS Slider element -->
<link rel="stylesheet" href="css/sliders/ios/style.css" type="text/css" media="all">

<!-- ***** Main + Responsive & Base sizing CSS Stylesheet ***** -->
<link rel="stylesheet" href="css/template.css" type="text/css" media="all">
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="all">
<link rel="stylesheet" href="css/base-sizing.css" type="text/css" media="all">
<link rel="stylesheet" href="css/scroll-landing.css" type="text/css" media="all">


<!-- Custom CSS Stylesheet (where you should add your own css rules) -->
<!-- <link rel="stylesheet" href="css/custom.css" type="text/css" /> -->
