<!doctype html>
<html dir="ltr" lang="en-US" class="no-js">

<head>
	<%include head%>
</head>

<body>

	<!-- Page Wrapper -->
	<div id="page_wrapper">
		<!-- Support Panel -->
		<%include support%>
			<!--/ Support Panel -->

			<!-- Header style 1 -->
			<%include header%>
				<!-- / Header style 1 -->


				<!-- slide -->
				<!-- Slideshow - iOS Slider element with animateme scroll efect, custom height and bottom mask style 2 -->
				<%include slide%>
					<!-- /slide -->
					<!--/ Slideshow - iOS Slider element with animateme scroll efect, custom height and bottom mask style 2 -->
					<!-- Title - Style 1 section with custom top padding -->
					<!-- gioi thieu -->
					<%include introduction%>
					<!-- gioi thieu -->
					<!--/ Title - Style 1 section with custom top padding -->

					<!-- Icon Boxes element Left Floated Style - section white -->
					<!-- centerImage -->
					<%include centerImage%>
					<!-- /centerImage -->

					<!-- Image Boxes - Style 4 new section -->

					<!-- dac diem -->
					<%include feature%>
					<!-- /dac diem -->
	<!--/ container -->
	<!--/ Image Boxes - Style 4 new section -->

	<!-- Screenshot Box section with custom paddings -->
	<!-- thành phần -->
	<%include component%>
	<!--/ Screenshot Box section with custom paddings -->

	<!-- Latest Posts - Accordion Style section -->
	<%include technology%>
		<!--/ Latest Posts - Accordion Style section -->
		<%include uses%>
			<!-- Title with Call to Action Button - section with custom paddings -->
			<!-- Công Dụng -Liều Dùng -->
			<%include doiTuongVaLL%>
				<!-- /Công Dụng -Liều Dùng -->
				<!-- Trải nghiệm người dùng -->
				<%include traiNghiem%>
					<!-- / trải nghiệm người dùng  -->
					<!-- Cách nhận biết sản phẩm chính hãng -->
					<%include nhanbietSp%>
						<!-- / cách nhận biết sản phẩm chính hãng -->
						<!-- Chứng nhận -->
						<%include certification%>
							<!-- / chứng nhận -->
							<!-- Footer - Default Style 1 -->
							<%include footer%>
								<!--/ Footer - Default Style 1 -->
								</div>
								<!--/ Page Wrapper -->


								<!-- Bubble-box with notification-box style -->

								<!--/ Login Panel content -->


								<!-- Contact form pop-up element content -->
								<!-- form đăng ký -->
								<%include formSignIn%>
									<!--/ Contact form pop-up element content -->


									<!-- ToTop trigger -->
									<a href="#" id="totop">TOP</a>
									<!--/ ToTop trigger -->

									<%include jsBot%>
									<!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5bb189d9b033e9743d01e897/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script> -->
	<!--End of Tawk.to Script-->
	<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1136933743010634">
</div>
</body>

</html>