<section class="hg_section bg-white pt-70">
    <div class="container">
        <div class="row">
            <% data.introduction.forEach(intro => { %>
            <div class="col-md-12 col-sm-12">
                <!-- Title element -->
                <div class="kl-title-block clearfix text-center tbk-symbol-- tbk-icon-pos--after-title">
                    <!-- Title with kl-font-alt font, custom font size, bold style and light gray color -->
                    <h3 class="tbk__title kl-font-alt fs-xxxl" style="color:rgba(255,0,0,0.65); font-size:30px;font-family: 'Itim', cursive;
            font-family: 'Arima Madurai', cursive; font-size:30px; ">
                        <%= intro.title%>
                    </h3>

                    <h4 class="tbk__subtitle fw-vthin">
                        <img src="/images/admin/<%= intro.imagePrimary%>" alt=""
                            width="300px">
                        <p style="font-family: 'Comfortaa', cursive; font-size:1rem;">
                            <%= intro.content%>
                        </p>
                    </h4>
                </div>
                <!--/ Title element -->
            </div>
            <% }) %>
            <!--/ col-md-12 col-sm-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>