<div class="kl-slideshow static-content__slideshow uh_neutral_color maskcontainer--mask4 " style="background-color:#fff;">
		<div class="bgback">
		</div>

		<!-- Static content wrapper with default height (not fullscreen) -->
		<div class="kl-slideshow-inner static-content__wrapper static-content--height">
			<!-- Static content background source -->
			<div class="static-content__source ">
				<!-- Background -->
				<div class="kl-bg-source">


				</div>
				<!--/ Background -->

				<!-- Animated Sparkles -->
				<div class="th-sparkles"></div>
				<!--/ Animated Sparkles -->
			</div>
			<!--/ .static-content__source -->

			<!-- Static content container -->
			<!-- Công dụng -->
			<div class="static-content__inner container">
				<div class="kl-slideshow-safepadding sc__container">
					<!-- Product zoom style -->
					<h3 class="tbk__title kl-font-alt fs-xxxl fw-bold " style="text-align:center; color:rgba(255,0,0,0.65);margin-top:100px;font-weight:400;font-family: 'Itim', cursive;
					font-family: 'Arima Madurai', cursive; font-size:35px;">
						Cách nhận biết sản phẩm chính hãng
					</h3>
					<div class="static-content productzoom-style" style=" font-family: 'Comfortaa', cursive;">
						<div class="row">
							<!--/ col-sm-12 col-md-12 col-lg-5 mb-30 -->

							<div class="col-sm-12 col-md-12 col-lg-7">
								<!-- Screenshot with loupe element -->
								<div id="screenshot" class="sc__screenshot">
									<!-- Image container -->
									<div class="image" style="margin-top:30px;">
										<!-- Product loupe pop-up & image -->
										<a class="kjq-loupe" data-lightbox="image" href="images/congdung.jpg" >
											<!-- Image -->
											<img src="https://s3-ap-southeast-1.amazonaws.com/purtier/<%=data.imgUM.image%>" class="img-fluid" alt="Product" title="Product" style="height:350px">
										</a>
										<!-- Product loupe pop-up & image -->

										<!-- Loupe -->
										<div class="sc__loupe"></div>
									</div>
									<!--/ Image container -->
								</div>
								<!--/ Screenshot with loupe element -->
							</div>
							<!--/ col-sm-12 col-md-12 col-lg-7 -->
							<div class="col-sm-12 col-md-12 col-lg-5 mb-30">
								<!-- Sub-title -->


								<!-- Features list -->
								<ul class="sc__features" style=" font-family: 'Comfortaa', cursive;">
									<%data.product_recognition.forEach( pr=> { %>								
									<li>
										<span class="fas fa-check white-icon"></span>
										<%=pr.content%>
									</li>
									<% }) %>
								</ul>
								<!--/ Features list -->



							</div>

						</div>
						<!--/ row -->
					</div>
					<!--/ .productzoom-style -->
				</div>
				<!-- /.sc__container -->
			</div>
			<!--/ Static content container -->
		</div>
		<!--/ Static content wrapper with default height (not fullscreen) -->
	</div>