<input type="checkbox" id="support_p" class="panel-checkbox">
		<div class="support_panel">
			<div class="support-close-inner">
				<label for="support_p" class="spanel-label inner">
					<span class="support-panel-close">×</span>
				</label>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-9">
						<!-- Title -->
						<h4 class="m_title mb-20">
							LIÊN HỆ
						</h4>

						<!-- Content - how to shop steps -->
						<div class="m_content how_to_shop">
							<div class="row">
								<div class="col-sm-3">
									<span class="number">
										<i class="fas fa-phone"></i>
									</span> <%=data.information.hotline%>
								</div>
								<!--/ col-sm-4 -->

								<div class="col-sm-6">
									<span class="number">
										<i class="fas fa-envelope"></i>
									</span><%=data.information.email%>
								</div>
								<!--/ col-sm-4 -->

								<div class="col-sm-3">
									<span class="number">
										<i class="fas fa-question"></i>
									</span> Tư Vấn
									<strong>Miễn Phí</strong>
								</div>
								<!--/ col-sm-4 -->
							</div>
							<!--/ row -->
						</div>
						<!--/ Content - how to shop steps -->
					</div>

					<!--/ col-sm-12 col-md-12 col-lg-3 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</div>