<div class="kl-title-block clearfix text-center tbk-symbol-- tbk-icon-pos--after-title" id="congnghe">
		<!-- Title with kl-font-alt font, custom font size, bold style and light gray color -->
		<h3 class="tbk__title kl-font-alt fs-xxxl fw-bold " style="text-align:center; color:rgba(255,0,0,0.65);margin-top:100px;font-weight:400;font-family: 'Itim', cursive;
		font-family: 'Arima Madurai', cursive; font-size:35px;">
			Công nghệ bào chế viên nang
		</h3>
		<!--/ Title with kl-font-alt font, custom font size, bold style and light gray color -->

		<!-- Sub-Title with custom font size an very thin style -->
		<h4 class="tbk__subtitle fw-vthin" style=" font-family: 'Comfortaa', cursive; font-size:20px;">
			Giúp bảo quản các chất dinh dưỡng, đảm bảo rằng các dược chất không bị mất đi <br> hoặc dễ dàng bị phá hủy bởi các yếu tố bên
			ngoài, cũng như tạo điều kiện cho sự hấp thu <br> hiệu quả các chất dinh dưỡng, để đạt được hiệu quả tối đa.

		</h4>
		<!--/ Sub-Title with custom font size an very thin style -->
	</div>
	<section class="hg_section bg-white">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="row gutter-md">
						<div class="col-sm-12 col-md-6 col-lg-6">
							<!-- Icon box float left -->
							<div class="kl-iconbox kl-iconbox--fleft text-left">
								<div class="kl-iconbox__inner">
									<!-- Icon -->
									<div class="kl-iconbox__icon-wrapper">
										<img src="images/set-03-01.svg" class="kl-iconbox__icon" alt="Stunning Template">
									</div>
									<!--/ Icon -->

									<!-- /.kl-iconbox__icon-wrapper -->
									<div class="kl-iconbox__content-wrapper">
										<!-- Title -->
										<div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
											<h3 class="kl-iconbox__title fs-m fw-normal gray2">
												Công Nghệ Đông Khô
											</h3>
										</div>
										<!--/ Title -->

										<!-- Description -->
										<div class=" kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
											<p class="kl-iconbox__desc fs-14 gray" style=" font-family: 'Comfortaa', cursive;">
												Công Nghệ Sấy Khô - Đông Cứng giúp bảo vệ các tế bào sống nhau thai hươu và duy trì hoạt tính sinh học tốt nhất trong 3-4
												năm.
											</p>
										</div>
										<!--/ Description -->
									</div>
									<!-- /.kl-iconbox__content-wrapper -->
								</div>
								<!--/ kl-iconbox__inner -->
							</div>
							<!--/ Icon box float left -->
						</div>
						<!--/ col-sm-12 col-md-6 col-lg-3 -->

						<div class="col-sm-12 col-md-6 col-lg-6">
							<!-- Icon box float left -->
							<div class="kl-iconbox kl-iconbox--fleft text-left">
								<div class="kl-iconbox__inner">
									<!-- Icon -->
									<div class="kl-iconbox__icon-wrapper">
										<img class="kl-iconbox__icon" src="images/set-03-02.svg" alt="Iconic Awarded Design">
									</div>
									<!--/ Icon -->

									<!-- /.kl-iconbox__icon-wrapper -->
									<div class="kl-iconbox__content-wrapper">
										<!-- Title -->
										<div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
											<h3 class="kl-iconbox__title fs-m fw-normal gray2">
												Công Nghệ Nhũ Tương Hóa
											</h3>
										</div>
										<!--/ Title -->

										<!-- Description -->
										<div class=" kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
											<p class="kl-iconbox__desc fs-14 gray" style=" font-family: 'Comfortaa', cursive;">
												Công nghệ nhũ tương hóa hiện đại ( Công nghệ Nano ) cho phép nhũ tương hóa các phân tử lớn hơn để được hấp thụ hoàn toàn
												trong quá trình chylomicron.
											</p>
										</div>
										<!--/ Description -->
									</div>
									<!-- /.kl-iconbox__content-wrapper -->
								</div>
								<!--/ kl-iconbox__inner -->
							</div>
							<!-- Icon box float left -->
						</div>
						<!--/ col-sm-12 col-md-6 col-lg-3 -->

						<div class="col-sm-12 col-md-6 col-lg-6">
							<!-- Icon box float left -->
							<div class="kl-iconbox kl-iconbox--fleft text-left">
								<div class="kl-iconbox__inner">
									<!-- Icon -->
									<div class="kl-iconbox__icon-wrapper ">
										<img class="kl-iconbox__icon" src="images/set-03-04.svg" alt="Mature project">
									</div>
									<!--/ Icon -->

									<!-- /.kl-iconbox__icon-wrapper -->
									<div class="kl-iconbox__content-wrapper">
										<!-- Title -->
										<div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
											<h3 class="kl-iconbox__title fs-m fw-normal gray2">
												Công Nghệ Bơm Đẩy Nitrogen
											</h3>
										</div>
										<!--/ Title -->

										<!-- Description -->
										<div class=" kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
											<p class="kl-iconbox__desc fs-14 gray" style=" font-family: 'Comfortaa', cursive;">
												Nhau thai và các dưỡng chất sẽ bị oxi hóa và mất tác dung khi tiếp xúc với các gốc tự do, oxi, vi khuẩn và tia UV . Công
												nghệ bơm đầy nitrogen ngăn ngừa sự phân hủy của các tế bào sống và dưỡng chất.
											</p>
										</div>
										<!--/ Description -->
									</div>
									<!-- /.kl-iconbox__content-wrapper -->
								</div>
								<!--/ kl-iconbox__inner -->
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6">
							<!-- Icon box float left -->
							<div class="kl-iconbox kl-iconbox--fleft text-left">
								<div class="kl-iconbox__inner">
									<!-- Icon -->
									<div class="kl-iconbox__icon-wrapper">
										<img class="kl-iconbox__icon" src="images/set-03-03.svg" alt="Featurewise Complete">
									</div>
									<!--/ Icon -->

									<!-- /.kl-iconbox__icon-wrapper -->
									<div class="kl-iconbox__content-wrapper">
										<!-- Title -->
										<div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
											<h3 class="kl-iconbox__title fs-m fw-normal gray2">
												Công Nghệ Tráng Ruột Viên Nang
											</h3>
										</div>
										<!--/ Title -->

										<!-- Description -->
										<div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
											<p class="kl-iconbox__desc fs-14 gray" style=" font-family: 'Comfortaa', cursive;">
												Lớp tráng ruột chất lượng cao Placenta ngăn không bị phá hủy bởi acid dạ dày và mất đi các chất dinh dưỡng trong quá trình
												đi đến ruột nongiúp tăng tỉ lệ hấp thụ của các thành phần hiệu quả lên đến 60-80%.
											</p>
										</div>
										<!--/ Description -->
									</div>
									<!-- /.kl-iconbox__content-wrapper -->
								</div>
								<!--/ kl-iconbox__inner -->
							</div>
							<!--/ Icon box float left -->
						</div>
						<!--/ col-sm-12 col-md-6 col-lg-3 -->


						<!--/ col-sm-12 col-md-6 col-lg-3 -->
					</div>
					<!--/ row gutter-md -->
				</div>
				<!--/ col-lg-10 offset-lg-1 -->
			</div>
			<!--/ row -->
		</div>
		<!--/ container-fluid -->
	</section>