<div class="static-content__inner container page" id="congdung">
        <div class="kl-slideshow-safepadding sc__container">
            <!-- Product zoom style -->
            <h3 class="tbk__title kl-font-alt fs-xxxl fw-bold " style="text-align:center;">
                <span class="fw-thin" style="text-align:center; color:rgba(255,0,0,0.65);margin-top:100px;font-weight:400;font-family: 'Itim', cursive;
                font-family: 'Arima Madurai', cursive; font-size:35px;">
                    Công dụng của nhau thai hươu
                </span>
            </h3>
            <div class="row">
                <% data.uses.forEach(u => { %>
                    <div class="col-sm-12 col-md-6 col-lg-3">

                            <!--/ Image Box style 4 - left symbol style -->
                            <div class="box image-boxes imgboxes_style4 kl-title_style_left">
                                <!-- Image Box anchor link -->
                                <a class="imgboxes4_link imgboxes-wrapper" href="" target="_blank">
                                    <!-- Image -->
                                    <img src="/images/admin/<%= u.imagePrimary%>" class="img-fluid imgbox_image cover-fit-img" alt="RESCUE SUPPORT"
                                     title="RESCUE SUPPORT" />
                                    <!--/ Image -->
            
                                    <span class="imgboxes-border-helper"></span>
            
                                </a>
            
                                <p style="text-align:center;  font-family: 'Comfortaa', cursive;">
                                    <%= u.content%>
                                </p>
                                <!--/ Description -->
                            </div>
                            <!--/ Image Box style 4 - left symbol style -->
                        </div>
                <% }) %>
            </div>
            <!--/ .productzoom-style -->
        </div>
        <!-- /.sc__container -->
    </div>
    <!--/ Static content container -->
</div>
<!--/ Static content wrapper with default height (not fullscreen) -->
</div>