<div class="container">
<form action="" enctype="multipart/form-data" method="POST">
    <div class="form-group">
      <label for="">chuc vu hien tai</label>
      <select name="" id="">
        <option value="">
        </option>
      </select>
    </div>
</form>
</div>