<div class="container">
<form action="" enctype="multipart/form-data" method="POST">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name"  placeholder="Name" value="">
      <label>email</label>
      <input type="email" class="form-control" name="email" placeholder="name@example.com" value="">
      <label>Address</label>
      <textarea class="form-control" name="address" id="" cols="40" rows="3"></textarea>
      <label>Phone</label>
      <input type="text" class="form-control" name="phone" placeholder="0123456789" value="">
      <br>
      <button type="submit" class="btn btn-primary mb-2">Update</button>
</form>
</div>