
<form action="/admin/certification/update" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="">select multiple images</label>
      <input type="file" name="images" class="form-control-file" multiple> 
    </div>
    <button type="submit" class="btn btn-primary mb-2">Update</button>
</form>