<form action="" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label>Danh mục</label>
      <select class="form-control" value="">
          <option value="">sadsad</option>
          <option value="">sadsad</option>
      </select>
      <label>tiêu đề</label>
      <input type="text" class="form-control"  placeholder="title">
      <label>Nội dung</label>
      <input type="text" class="form-control"  placeholder="content">
      <label>khối lượng</label>
      <input type="text" class="form-control" placeholder="unit">
      <br>
      <label class="checkbox-inline"><input type="checkbox" value="">nổi bật</label>
      <br>
      <br>
      <label>Hình chính</label>
      <input type="file" class="form-control-file">
      <br>
      <label>Hình phụ</label>
      <input type="file" class="form-control-file">
    </div>
    <br>
    <button type="submit" class="btn btn-primary mb-2">Create</button>
  </form>