<%if(messages.length !== 0){ %>
    <div class="container"><a class="alert-success" style="padding:15px 250px;font-size:18px">Notify: <%=messages%></a></div>
<% } %>
<br>
<form action="/admin/imgUserMannual/update" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <h3>Select image:</h3>
      <input type="file" name="image" class="form-control-file"> 
    </div>
    <br>
    <button type="submit" class="btn btn-primary mb-2">Update</button>
</form>
<hr>
<h3 style="text-align: center">List image UM</h3>
<table class="table">
    <tr style="text-align: center">
        <td>Image 1</td>
        <td><img src="/images/admin/<%=imgUM.image%>" alt="not found" width="150px"></td>
    </tr>
</table>