<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <h3><a href="admin/exp" style="text-decoration: underline">List experience</a></h3>
        </li>
        <li class="breadcrumb-item active">Update employess</li>
    </ol>
    <br>
    <%if(messages.length !== 0){ %>
      <div class="container"><a class="alert-success" style="padding:15px 250px;font-size:18px">Notify: <%=messages%></a></div>
  <% } %>
    <br>
<hr>
<form action="admin/exp/update/<%=exp._id%>" method="POST">   
      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" placeholder="Enter Title" name="title" value="<%=exp.title%>">
      </div>
      <div class="form-group">
        <label>Link youtube:</label>
        <input type="text" class="form-control" placeholder="Enter Link youtobe" name="link" value="<%=exp.link%>">
      </div>
      <button type="submit" class="btn btn-success">Update</button>
</form>
</div>